<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<div layout:fragment="custom-content" id="HOME">
    안녕하세요. 제이제이홈입니다. <br>
    방문해주셔서 감사합니다! <br>


    <script type="text/javascript" th:inline="javascript">
        const HOME = {
            container:$('#HOME'),

            init:function(){
                
            },

            registerEventHandler:function(){

            }
        }
        HOME.init();

        //class HOME3 {
        //    constructor() {
        //    }
        //    static init(){
        //    }
        //    static registerEventHandler(){
        //    }
        //    static getVersion(){
        //    }
        //}
    </script>
</div>
</html>